.interactive {
    cursor: pointer;
}

/* Elevations shadows */
.z-1 {
    box-shadow: 0px 3px 6px #00000029;
}

/* Background Styles */
.bg-white {
    background-color: var(--ta9-color-ffffff);
}
.bg-light {
    background-color: var(--ta9-color-f6f6f6);
}

/* Elipsis */
.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}