:root {

    /* Colors */
    --ta9-color-ffffff: #FFFFFF;
    --ta9-color-f6f6f6: #F6f6f6;
    --ta9-color-cbcbcb: #CBCBCB;
    --ta9-color-797979: #797979;
    --ta9-color-000000: #000000;
    --ta9-color-0e4f6e: #0E4F6E;
    --ta9-color-749aac: #749AAC;
    --ta9-color-007af9: #007AF9;
    --ta9-color-f2f6f9: #F2F6F9;

    --ta9-color-interactive-idle:       var(--ta9-color-749aac);
    --ta9-color-interactive-selected:   var(--ta9-color-007af9);
    --ta9-color-interactive-hover:      var(--ta9-color-0e4f6e);

    /* Font/text values */
    --ta9-font-family-helvetica-neue: Helvetica Neue;
    --ta9-font-style-normal: normal;
    --ta9-font-style-italic: italic;
    --ta9-font-weight-100: 100px;
    --ta9-font-weight-300: 300px;
    --ta9-font-weight-medium: medium;
    --ta9-font-weight-normal: normal;
    --ta9-font-weight-bold: bold;
    --ta9-font-size-16: 16px;
    --ta9-font-size-18: 18px;
    --ta9-font-size-20: 20px;
    --ta9-character-spacing-0: 0px;
    --ta9-line-spacing-18: 18px;
    --ta9-line-spacing-22: 22px;
    --ta9-line-spacing-24: 24px;
    --ta9-line-spacing-25: 25px;
}