:host {
    position: fixed;
    height: 100vh;
    width: 40vw;
    top: 0;
    background: white;
    transition: 0.3s ease-out;
    right: -40vw;
    background: var(--ta9-color-f8f8f8);
    box-shadow: var(--ta9-shadow-1);

    &.visible {
        right: 0;
    }

    .color-select {
        border-radius: 0.375em;
        
        .color-square {
            width:  2em;
            height: 2em;
            border-radius: 0.5em;
            background: var(--ta9-color-ffffff);
        }

    }

    .input-color {
        visibility: hidden;
    }
}