@use '../../styles/typography.scss' as *;


:host {

    label {
        background-color: var(--ta9-color-ffffff);
        padding: 20px 7px;

        input {

            &:placeholder-shown {
                @include ta9-character-style-5;
            }

            color:  var(--ta9-color-000000);
            border: none;
            appearance: none;
            outline: none;
            width: 100%;
        }
    }
    
}