@use '../../../styles/typography.scss' as *;

:host {

    label {
        background-color: var(--ta9-color-ffffff);
        padding: 20px 7px;

        input {

            &:placeholder-shown {
                @include ta9-character-style-5;
            }

            color:  var(--ta9-color-000000);
            border: none;
            appearance: none;
            outline: none;
            width: 100%;
        }
    }
    
    .list {
        .list-item {
            border: 0.125em solid transparent;
            border-radius: 0.25em;
            transition: 0.3s ease-out;
            background-color: var(--ta9-color-ffffff);

            &:hover {
                border-color: var(--ta9-color-interactive-selected);

                .hightlight {
                    font-weight: bold;
                    color: var(--ta9-color-interactive-selected);
                }
            }
        }

        .cell-color {
            width:  2.25em;
            height: 2.25em;
            border-radius: 0.5em;
            left: 0.75em;
            position: relative;
        }
    }

}