/* You can add global styles to this file, and also import other style files */
@use './app/styles/variables';
@use './app/styles/typography';
@use './app/styles/layout';

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--ta9-color-f2f6f9);
    font-family: var(--ta9-font-family-helvetica-neue);
}
